*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background:linear-gradient(to bottom, #6ab7f5, #FFF) ;
}

.card {
    background-color: #FFF;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    height: 500px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokemon-img {
    object-fit: contain;
    max-width: 300px;
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    box-shadow: 10px 10px 62px rgba(0,0,0,0.15); 
    border-radius: 20px; 
}


input{
    padding: 20px 0;
    margin:15px 0;
   max-width: 400px;
   width: 300px;
   border-radius: 2px;
   border:none;
   transition: 0.6s;
   font-size: 1rem;
   font-weight: bold; 
}

input:focus {
    outline: none;
    box-shadow: 5px 10px 15px rgba(0,0,0,0.15); 
}

#name {
    font-size: 1.8rem;
    text-align: center;
    margin: 5px;
    text-transform: capitalize;
}

button{
    text-align: center;
    max-width: 400px;
    width: 300px;
    padding: 15px 0;
    background-color: #83c8f7;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: 0.6s;
}

button:hover {
    background-color: #3792d8;
}
#natureza{
    font-size: 1.4rem;
    text-align: center;
    text-transform: capitalize;
    margin: 2px;
}

#order{
    font-size: 1.3rem;
    margin-bottom: 5px;
}

@media (max-width: 480px) {

    .card {
        padding: 20px;
        border-radius: 12px;
    }

    .pokemon-img {
        width: 160px;
    }

    #name {
        font-size: 1.5rem;
    }

    #natureza, #order {
        font-size: 1.2rem;
    }

    input, button {
        max-width: 100%;
        font-size: 0.9rem;
    }
}

/* TABLETS */
@media (max-width: 768px) {

    .card {
        width: 350px;
    }

    .pokemon-img {
        width: 180px;
        height: 180px;
    }
}