*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background:linear-gradient(to bottom, #6ab7f5, #FFF) ;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    height: 500px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokemon-img {
    object-fit: contain;
    max-width: 300px;
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    box-shadow: 10px 10px 62px rgba(0,0,0,0.15); /* sombra suave */
    border-radius: 20px; /* opcional, mas deixa melhor */
}


input{
    padding: 20px 0;
    margin:15px 0;
   max-width: 400px;
   width: 300px;
   border-radius: 5px;
   border:none;
   transition: 0.2s ease-in-out;
   font-size: 1rem;
   font-weight: bold;
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 30px rgba(101, 181, 247, 0.8); /* azul suave */
}

#name {
    font-size: 1.8rem;
    text-align: center;
    margin: 5px;
    text-transform: capitalize;
}

button{
    text-align: center;
    max-width: 400px;
    width: 300px;
    padding: 15px 0;
    background-color: #83c8f7;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 8px;
    margin-bottom: 10px;
    
}

button:hover {
    background-color: #3792d8;
    transition: .2s;
}
#natureza{
    font-size: 1.3rem;
    text-align: center;
    text-transform: capitalize;
}